{%extends 'base.html'%}
{%block content%}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div>

<h1>{{note}}</h1>
<center>
<form action="{% url 'create' %}" enctype="multipart/form-data" method="post">
    {%csrf_token%}
    <table>
    {{form.as_table}}
</table>
    <input class="btn-get-started" type="submit"  value="ENTER">
</form>
</center>
</div>
</div>
</div>
</section>
{%endblock%}
