
{%extends 'base.html'%}
{%block content%}

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>{{note.name}}</h2>
            <h3 style="color:aquamarine">{{note.district}}</h3>
            <p>
              {{note.short_discription}}
            </p>

              <a href="{{note.link}}" style='background-color: red;color: white;' class="btn btn-get-started">Location</a>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{{ note.image.url }}" alt="">
              </div>
              
              <div class="swiper-slide">
                <img src="{{ note.image2.url }}" alt="">
              </div>
              
              <div class="swiper-slide">
                <img src="{{ note.image3.url }}" alt="">
              </div>
              

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div style="background-color:rgba(0, 0, 0, 0.595)" class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>{{note.name}}</h2>
              
              <p>
                {{note.discription|safe}}
              </p>
              <div style="color:red;">
              <p>{{note.warning|safe}}</p>
              </div>
              <div style="color:grey;">
                <p>{{note.key_words|safe}}</p>
              </div>
              {% for rating in ratings %}
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  {{rating.content}}
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="{{rating.user.profilemodel.Image.url}}" class="testimonial-img" alt="">
                  <h3>{{rating.rating}}</h3>
                  <h4>{{rating.user.profilemodel.Name}}</h4>
                  <h5>{{rating.date}}</h5>
                  {% if rating.user == request.user %}
                 <h6> <a href="{%url 'rdelete' pk=rating.id pk1=note.id %}">Remove</a></h6>
                  {% endif %}
                </div>
              </div>
              {%endfor%}
              
            </div>{%if request.user.is_authenticated %}
            <form action="{% url 'detail' pk=note.id %}"  method="post">{%csrf_token%}
                {{addingreview}}
                <input type="submit" class="btn cta-btn" value="POST">
            </form>
            {%endif%}
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>Contributer information</h3>
              <ul>
                <a href="{% url 'profile' pk=note.user.profilemodel.id%}">
                <li><img src="{{note.user.profilemodel.Image.url}}" class="testimonial-img" alt=""></li>
                <li><strong>Contributer</strong> <span>{{note.user.profilemodel.Name}}</span></li>
                <li><strong>Bio</strong> <span>{{note.user.profilemodel.Name|truncatechars:10}}</span></li>
                <li><strong>Publish time</strong> <span>{{note.date}}</span></li>
            </a>
                
                <li><a href="{{note.link}}" class="btn-visit align-self-start">instagram</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Single Section -->

  </main><!-- End #main -->
  {%endblock%}