{%extends 'base.html'%}
{%block content%}
<h1>search area</h1>
<form href="{%url 'list' %}" method='post'>{%csrf_token%}
    {{searchdis}}
    <input type="submit" value="SUBMIT">
</form>
<br>

<h1>list</h1>
{%for spot in notes %}
<div>
    <a href="{%url 'detail' pk=spot.id %}">
    <img src="{{ spot.image.url }}" width="150" height="100"/>
<p>{{spot.name}}</p>
<p2>{{spot.discription}}</p2>
<p>{{spot.user}}</p>
<p>{{spot.district}}</p>
</a>
</div>
{%endfor%}
<a href="{% url 'home'%}">HOME</a>
{%endblock%}