{%extends 'base.html'%}
{%block content%}
<center>
<h1>profilepage</h1>
<img src="{{ profile.Image.url }}" width="150" height="200"/>
<p>{{profile.user}}</p>
<h2>{{profile.Name}}</h2>
<h2>{{profile.Bio}}</h2>
<h3>Date of joining:{{profile.Date}}</h3>
<a href="{% url 'profileedit'  pk=profile.id%}">profile edit</a>
</center>
<br>
<h2>contributions</h2>
{%for spot in notes %}
<br>
<br>
<div>
    <a href="{%url 'detail' pk=spot.id %}"></a>
    <img src="{{ spot.image.url }}" width="150" height="100"/>
<p>{{spot.name}}</p>
</a>
<a href="{%url 'delete' pk=spot.id %}">delete</a>
<a href="{%url 'edit' pk=spot.id %}">edit</a>
<p2>{{spot.discription|truncatechars:20}}</p2>
<p>{{spot.user}}</p>
</div>
{%endfor%}
<a href="{% url 'home'%}">HOME</a>
{%endblock%}