{%extends 'base.html'%}
{%block content%}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div>
<main id="main" data-aos="fade" data-aos-delay="1500">
    <center>
    <div>

<form style="background-color:rgb(51, 69, 50) ;"  action="{% url 'signup'%}" method="post">{%csrf_token%}
    <table>
    {{form.as_table}}
</table>
    <input type="submit" value="signup">
</form>
</div>
</center>
</main>
{%endblock%}
