{%extends 'base.html'%}
{%block title %}
kerala-travel-partners|best-of-kerala|best-place-to-visit-in-kerala|tourist-places-in-kerala|best-tourist-places-in-kerala
{%endblock%}
{%block meta %}
kerala-travel-partners|best-of-kerala|best-place-to-visit-in-kerala|tourist-places-in-kerala|best-tourist-places-in-kerala|places-to-visit-near-me|places-to-visit-in-kerala
{%endblock%}
{%block content%}


  <!-- ======= Hero Section ======= -->
  <section id="hero"  class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div   class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 style="color: rgb(245, 245, 245);">We are<span style="background-color: rgba(78, 4, 4, 0.168);font-family: fantasy;color:rgb(164, 237, 109)">Kerala Travel Partners</span> - Explore the fantasies near you</h2>
        </div>
            <p class='text-center' style="color: rgb(141, 137, 137);font-family: fantasy;">"Kerala travel partners" is a place where you can find all the information you need to make your trip comfortable and successful.</p>
            
          <center>
            <form href="{%url 'list' %}" class="form-inline" method='post'>{%csrf_token%}
            
                {{searchdis}}
              
                <input type="submit" style="background-color:red" class="btn" value="GO">
            
            </form>
            </center>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        
      <div class="container-fluid">
        {%if adition%}
        <div class="row gy-4 justify-content-center">
          <center>
         
        </center>
          {%for spot in adition %}
          
          
          <div class="col-xl-3 col-lg-4 col-md-6">
          
          <div class="gallery-item h-100" >
            
            <img src="{{spot.image.url}}" class="img-fluid" alt="">
            <center>
            <h5 style="font-family: fantasy;">{{spot.name}}</h5>
            </center>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              
              <a style="font-size: 50px;" href="{% url 'cluster' spot.name %}"><i class="bi bi-mouse2-fill"></i></a>
            </div>
          </div>
          
        </div><!-- End Gallery Item -->
        {%endfor%}

      </div>
      {%endif%}
        <br>
        <br>
        <div class="row gy-4 justify-content-center">
         
          <!--<h3 style="font-family: fantasy; color: brown;">Explore with district wise</h3>-->
            {%for spot in district %}
            
            
            <div class="col-xl-3 col-lg-4 col-md-6">
            
            <div class="gallery-item h-100" >
              
              <img src="{{spot.image.url}}" class="img-fluid" alt="">
              <center>
              <h5>{{spot.district}}</h5>
              </center>
              <div class="gallery-links d-flex align-items-center justify-content-center">
                
                <a style="font-size: 50px;" href="{% url 'district' spot.district %}"><i class="bi bi-mouse2-fill"></i></a>
              </div>
            </div>
            
          </div><!-- End Gallery Item -->
          {%endfor%}

        </div>
        
          <br><br>
        <h3 style="font-family: fantasy;color: brown; ">Explore with place category wise</h3>
        
        <div class="row gy-4 justify-content-center">
          {%for spot in remarks %}
          <div class="col-xl-3 col-lg-4 col-md-6">
          
          <div class="gallery-item h-100">

            <img src="{{spot.image.url}}" class="img-fluid" alt="">
            <h5>{{spot.alert}}</h5>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="{% url 'remark' spot.alert %}" style="font-size: 50px;"><i class="bi bi-mouse2-fill"></i></a>
            </div>
          </div>
          
        </div><!-- End Gallery Item -->
        {%endfor%}

      </div>
        
      </div>
      
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
 
{%endblock%}