{%extends 'base.html'%}
{%block title %}
kerala-travel-partners|best-of-kerala|best-place-to-visit-in-kerala|tourist-places-in-kerala|best-tourist-places-in-kerala
{%endblock%}
{%block meta %}
kerala-travel-partners|best-of-kerala|best-place-to-visit-in-kerala|tourist-places-in-kerala|best-tourist-places-in-kerala|places-to-visit-near-me|places-to-visit-in-kerala
{%endblock%}
{%block content%}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>We are<span style="background-color: rgba(255, 0, 0, 0.168);color:rgb(11, 139, 96)">Travel Partners</span> - Explore the fantasies near you</h2>
          <p>Kerala - Gods own country.</p>
          <a href="{% url 'list' %}" class="btn-get-started">Explore </a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        
      <div class="container-fluid">
        
        <div class="row gy-4 justify-content-center">
            {%for spot in district %}
            
            
            <div class="col-xl-3 col-lg-4 col-md-6">
            
            <div class="gallery-item h-100" >
              
              <img src="{{spot.image.url}}" class="img-fluid" alt="">
              <center>
              <h5>{{spot.district}}</h5>
              </center>
              <div class="gallery-links d-flex align-items-center justify-content-center">
                
                <a style="font-size: 50px;" href="{% url 'district' spot.district %}"> <i class="bi bi-mouse"></i><i>{{spot.district}}</i></a>
              </div>
            </div>
            
          </div><!-- End Gallery Item -->
          {%endfor%}

        </div>
        <center>
        <h1 style="color:green ;">Where you want to go....?</h1>
        </center>
        <div class="row gy-4 justify-content-center">
          {%for spot in remarks %}
          <div class="col-xl-3 col-lg-4 col-md-6">
          
          <div class="gallery-item h-100">

            <img src="{{spot.image.url}}" class="img-fluid" alt="">
            <h5>{{spot.alert}}</h5>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="{% url 'remark' spot.alert %}"><i>{{spot.alert}}</i></a>
            </div>
          </div>
          
        </div><!-- End Gallery Item -->
        {%endfor%}

      </div>
        
      </div>
      
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
 
{%endblock%}