<html>
<head><title>kearala_travel</title>

</head>
<body>
    <nav>
        <div>
            <a href="{%url 'home'%}">HOME</a>
            <a href="{%url 'list'%}">SPOT</a>
            {%if user.is_authenticated%}
            <a href="{%url 'listuser'%}">MYCONTRIBUTION</a>
            <a href="{%url 'create'%}">CREATE</a>
            <a href="{%url 'logout'%}">LOGOUT</a>
            {% else %}
            
            <a href="{%url 'signup'%}">SIGNUP</a>
            <a href="{%url 'login'%}">LOGIN</a>
            {% endif %}
        </div>
    </nav>
    <h1> base part</h1>
{%block content%}


{%endblock%}

</body>




</html>