{% extends 'base.html' %} 
{%block title %}
password form
{%endblock%}
{% block content%}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div>
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Password Reset Form</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Please enter your new password so we can verify.
  </h6>
</div>
<br />
<form action="" method="POST">
  {% csrf_token %} 
  {{form}}
  <input type="submit" style='background-color: rgb(171, 3, 3);color: white;' class="btn btn-success" value="Reset Password"/>
</form>
</div>
</div>
</div>
</section>
{% endblock%}