{% extends 'base.html' %} 
{%block title %}
password changed
{%endblock%}
{% block content%}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div>
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Password reset complete</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Your Password has been set. You may go ahead and login
  </h6>
</div>
<br />
<div class="text-center">
  <a href="{% url 'login' %}" style='background-color: rgb(23, 171, 3);color: white;' class="btn btn-success">Login</a>
</div>
</div>
</div>
</div>
</section>
{% endblock%}