{% extends 'base.html' %} 
{%block title %}
forget password
{%endblock%}
{% block content %}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div>
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Welcome to the Password Reset Page</h1>
  <h3>
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h3>
</div>
<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Send email" style='background-color: rgb(171, 3, 3);color: white;' class="btn btn-success" /><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'home' %}" style='background-color: rgb(42, 171, 3);color: white;' class="btn btn-success">Return to home page</a>
</div>

{% endblock%}